// Custom Fonts
// ==========================================================================

// Font Face Mixin (see http://bit.ly/1l8hxUA for bullet-proof syntax)
// @mixin font-face($font-name, $font-filename) {
//   @font-face {
//     font-family: '#{$font-name}';
//     src: url("'/fonts/#{$font-filename}.eot'"); // IE9 Compat Modes
//     src: url("'/fonts/#{$font-filename}.eot?#iefix'") format('embedded-opentype'), // IE6-IE8
//          url("'/fonts/#{$font-filename}.woff'") format('woff'), // Modern Browsers
//          url("'/fonts/#{$font-filename}.ttf'") format('truetype'), // Safari, Android, iOS
//          url("'/fonts/#{$font-filename}.svg#svg#{$font-filename}'") format('svg'); // Legacy iOS
//   }
// }

// Use Font Face Mixin (one for each font)
// @include font-face('Font Name', FontName);

// Font Mixins

@mixin font-base {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}

@mixin font-base-bold {
  @include font-base;
  font-weight: bold;
}

@mixin font-alt {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}

@mixin font-alt-bold {
  @include font-alt;
  font-weight: bold;
}
