// Sass Mixins
// ==========================================================================

$baby-bear:   30em;
$goldilocks:  50em;
$mama-bear:   75em;
$papa-bear:   85em;

// At-Least & Until: http://codepen.io/imathis/pen/BDzcI

@mixin under($device-width) {
  @media screen and (max-width: $device-width) {
    @content 
  }
}

@mixin over($device-width) {
  @media screen and (min-width: $device-width) {
    @content 
  }
}

// Retina Background Image Replacement - http://37signals.com/svn/posts/3271-easy-retina-ready-images-using-scss

@mixin image-2x($image-1x, $image-2x) {
  background-image: image-url($image-1x);
  background-repeat: repeat;
  @media 
    only screen and (-webkit-min-device-pixel-ratio: 2), 
    only screen and (min-resolution: 192dpi) { 
      background-image: image-url($image-2x);
      background-size: image-width('#{$image-1x}') image-height('#{$image-1x}');
    }
}

// Sass Extends
// ==========================================================================

// Clearfix: http://web-design-weekly.com/2013/05/12/handy-sass-mixins

%clear-after {
  & {
    *zoom: 1;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%default-box-model {
  box-sizing: content-box;
}

// Fix Weirdness During CSS Transitions

%fix-transition-bugs {
  backface-visibility: hidden; // Fixes flickering of objects during CSS transitions
  transform: rotate3d(0,0,0,0); // Fixes font-weight shifting during CSS transitions
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Sass Variables
// ==========================================================================

// $color-base: Add color;
// $color-accent: Add color;

// Help with understanding media query mixins (remove after development has begun)
// ==========================================================================

body {

  // Under (Desktop First)

  // background-color: silver;
  // &:before { content: "Desktop-first default"; }

  // @include under($mama-bear) {
  //   background: hotpink;
  //   &:before { content: "screen is <= #{$mama-bear}"; }
  // }

  // @include under($goldilocks) {
  //   background: gold;
  //   &:before { content: "screen is <= #{$goldilocks}"; }
  // }

  // @include under($baby-bear) {
  //   background: deepskyblue;
  //   &:before { content: "screen is <= #{$baby-bear}"; }
  // }

  // Over (Mobile First)

  // background-color: deepskyblue;
  // &:before { content: "Mobile-first default"; }

  // @include over($baby-bear) {
  //   background: gold;
  //   &:before { content: "screen is >= #{$baby-bear} (goldilocks)"; }
  // }

  // @include over($goldilocks) {
  //   background: hotpink;
  //   &:before { content: "screen is >= #{$goldilocks} (mama-bear)"; }
  // }

  // @include over($mama-bear) {
  //   background: silver;
  //   &:before { content: "screen is >= #{$mama-bear} (papa-bear)"; }
  // }

}