// Horizontal Rules
// ==========================================================================

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

// Google Maps
// ==========================================================================

// Don't reset the *:before & *:after

.map * {
  @extend %default-box-model;
  & img {max-width: none;}
}

// Ancient Browser Alert
// ==========================================================================

.ancient {
  background: #666;
  border-bottom: 1px solid #fff;
  color: #fff;
  margin: 0;
  padding: 0.5em 1em;
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
  text-align: center;
  z-index: 1000000;
}

.ancient a,
.ancient a:visited {
  color: #fff;
  text-decoration: underline;
}

// Skip to Content
// ==========================================================================

.skip:focus {
  background-color: #000;
  clip: auto;
  color: #fff;
  height: auto;
  padding: 0.5em 1em;
  position: fixed;
    top: 0;
    left: 0;
  width: auto;
}