// @font-face
// ==========================================================================

// Font Stacks & Global Font
// ==========================================================================

// Font-Sizing (REMs with Pixel Fallback - http://designbyjoel.com/blog/2013-02-28-sass-rems)

@mixin font-size($size: 1, $line: $size * 1.5) {
  font-size: ($size * 16) + px;
  line-height: ($line * 16) + px;
  font-size: $size + rem;
  line-height: $line + rem;
}

html {
  font-size: 100%; // Change this if you want your root font-size bigger/smaller
  line-height: 1.5;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased; // Fixes the inconsistent font-weight in Safari
}

// Icon Font
// ==========================================================================

@include font-face("Icomoon",
  font-files(
    "Icomoon.ttf",
    "Icomoon.woff",
    "Icomoon.svg"
  ),
  "Icomoon.eot"
);

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  content: attr(data-icon);
  font-family: 'Icomoon';
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

// Headings
// ==========================================================================

h1, h2, h3, h4, h5, h6 {

}

// Misc
// ==========================================================================

p {

}

ul, ol {

}

blockquote {

}
