/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p448@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p448@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p448@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p448@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p448@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p448@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p448@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p448@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p448@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 66, sass/_bits.scss */
.map * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 77, sass/_bits.scss */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 4, sass/_grid.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, sass/_grid.scss */
html {
  overflow-x: hidden;
}

/* line 12, sass/_grid.scss */
body {
  overflow-x: hidden;
}

/* line 21, sass/_grid.scss */
.main {
  margin: 0 auto;
  max-width: 75em;
}

/* line 30, sass/_grid.scss */
.old-ie body {
  overflow-x: auto;
}
/* line 33, sass/_grid.scss */
.old-ie .main {
  min-width: 75em;
}

@font-face {
  font-family: "Font Name";
  src: url('/stylesheets/fonts/FontName.eot');
  src: url('/stylesheets/fonts/FontName.eot?#iefix') format('eot'), url('/stylesheets/fonts/FontName.ttf') format('truetype'), url('/stylesheets/fonts/FontName.woff') format('woff'), url('/stylesheets/fonts/FontName.svg') format('svg');
}

/* line 18, sass/_typography.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 26, sass/_typography.scss */
html {
  font-size: 100%;
}

/* line 30, sass/_typography.scss */
body {
  color: #333333;
  font-size: 1.2em;
  line-height: 1.6em;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: "Icomoon";
  src: url('/stylesheets/fonts/Icomoon.eot');
  src: url('/stylesheets/fonts/Icomoon.eot?#iefix') format('eot'), url('/stylesheets/fonts/Icomoon.ttf') format('truetype'), url('/stylesheets/fonts/Icomoon.woff') format('woff'), url('/stylesheets/fonts/Icomoon.svg') format('svg');
}

/* line 51, sass/_typography.scss */
[data-icon]:before {
  content: attr(data-icon);
  font-family: 'Icomoon';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 1, sass/_images.scss */
img {
  max-width: 100%;
}

/* line 4, sass/_forms.scss */
form {
  margin: 0;
}

/* line 8, sass/_forms.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 24, sass/_forms.scss */
input[type="email"]
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0.4em;
  word-break: normal;
  -webkit-appearance: none;
}

/* line 33, sass/_forms.scss */
textarea {
  resize: vertical;
}

/* line 46, sass/_forms.scss */
input[type="button"],
input[type="submit"],
input[type="cancel"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
}

/* line 4, sass/_modules.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 20, sass/_modules.scss */
.map * img {
  max-width: none;
}

/* line 26, sass/_modules.scss */
.ancient {
  background: #666666;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  margin: 0;
  padding: 0.5em 1em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 1000000;
}

/* line 41, sass/_modules.scss */
.ancient a,
.ancient a:visited {
  color: #ffffff;
  text-decoration: underline;
}

@media print {
  /* line 5, sass/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 13, sass/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 17, sass/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 21, sass/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 29, sass/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 34, sass/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 39, sass/_print.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 44, sass/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 48, sass/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 58, sass/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 64, sass/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
