// Compass / Imports / SASS
// ==========================================================================

@import "compass"; // Includes CSS3, Typography, Utilities
@import "compass/layout";
@import "compass/reset";

// Media Queries Sass - http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32

$break-handhelds: 320px;
$break-small: 480px;
$break-medium: 768px;
$break-large: 1200px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-handhelds) { @content; }
  }
  @else if $media == small-screens {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (max-width: $break-medium) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (max-width: $break-large) { @content; }
  }
}

// HTML / Body / Containers
// ==========================================================================

// Apply box-sizing: border-box to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw

* {
  @include box-sizing(border-box);
}

html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; // 16px
  height: 100%;
  line-height: 1.5;
}

// Headings
// ==========================================================================

h1, h2, h3, h4, h5, h6 {

}

// Typography
// ==========================================================================

p {
  
}

ul, ol {

}

blockquote {

}

// Images
// ==========================================================================

img {
  max-width: 100%;
}

// Links
// ==========================================================================

a {
  // @include link-colors($normal, $hover, $active, $visited, $focus)
}

// Figures
// ==========================================================================

figure {
  
}

figcaption {
  
}

// Tables
// ==========================================================================

// Forms
// ==========================================================================

// Header
// ==========================================================================

// Navigation
// ==========================================================================

// Footer
// ==========================================================================

// Content
// ==========================================================================

// Page - [Name]
// ==========================================================================

// Misc
// ==========================================================================

.ancient {
  background: #2c98d6;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  margin: 0;
  padding: 0.5em 1em;
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
  text-align: center;
  z-index: 100;
}

.ancient a,
.ancient a:visited {
  color: #ffffff;
  text-decoration: underline;
}

// Print Styles
// ==========================================================================

@import "print";
