// Compass / Sass
// ==========================================================================

@import "compass"; // Includes CSS3, Typography, Utilities
@import "compass/layout";
@import "compass/reset";

// Desktop-First Media Queries - If using, delete "Mobile First" section

@mixin breakpoint($point) {
  @if $point == mama-bear {
    @media (max-width: 75em) { @content; } // 1200px / 16px
  }
  @if $point == goldilocks {
    @media (max-width: 50em) { @content; } // 800px / 16px
  }
  @if $point == baby-bear {
    @media (max-width: 30em) { @content; } // 480px / 16px
  }
}

// Mobile-First Media Queries - If using, delete "Desktop First" section

@mixin breakpoint($point) {
  @if $point == goldilocks {
    @media (min-width: 30em) { @content; } // 480px / 16px
  }
  @if $point == mama-bear {
    @media (min-width: 50em) { @content; } // 800px / 16px
  }
  @if $point == papa-bear {
    @media (min-width: 75em) { @content; } // 1200px / 16px
  }
}

// Font Stacks

@mixin font-stack-body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
@mixin font-stack-headers {}
@mixin font-stack-brand {}

// HTML / Body / Containers
// ==========================================================================

// Apply box-sizing: border-box to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw

*, *:after, *:before {
  @include box-sizing(border-box);
}

html {
  height: 100%;
}

body {
  @include font-stack-body;
  font-size: 100%; // 16px
  height: 100%;
  line-height: 1.5;
}

// Headings
// ==========================================================================

h1, h2, h3, h4, h5, h6 {

}

// Typography
// ==========================================================================

p {

}

ul, ol {

}

blockquote {

}

// Images
// ==========================================================================

img {
  max-width: 100%;
}

// Links
// ==========================================================================

a {
  // @include link-colors($normal, $hover, $active, $visited, $focus)
}

// Figures
// ==========================================================================

// Tables
// ==========================================================================

// Forms
// ==========================================================================

// Header
// ==========================================================================

// Navigation
// ==========================================================================

// Footer
// ==========================================================================

// Content
// ==========================================================================

// Page - [Name]
// ==========================================================================

// Misc
// ==========================================================================

.ancient {
  background: #2c98d6;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  margin: 0;
  padding: 0.5em 1em;
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
  text-align: center;
  z-index: 100;
}

.ancient a, .ancient a:visited {
  color: #ffffff;
  text-decoration: underline;
}

// Print Styles
// ==========================================================================

@import "print";
