/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194@design/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194@design/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194@design/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194@design/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194@design/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194@design/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p194@design/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p194@design/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194@design/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* @group grid */
/* line 22, grid.scss */
.row .span1, .row .span2, .row .span3, .row .span4, .row .span5, .row .span6, .row .span7, .row .span8, .row .span9, .row .span10, .row .span11, .row .span12 {
  float: left;
  margin-left: 2%;
}
/* line 28, grid.scss */
.row .span1 {
  width: 6.5%;
}
/* line 28, grid.scss */
.row .span2 {
  width: 15%;
}
/* line 32, grid.scss */
.row .span2 .span1 {
  margin-left: 13.3333333333%;
  width: 43.3333333333%;
}
/* line 28, grid.scss */
.row .span3 {
  width: 23.5%;
}
/* line 32, grid.scss */
.row .span3 .span1 {
  margin-left: 8.5106382979%;
  width: 27.6595744681%;
}
/* line 32, grid.scss */
.row .span3 .span2 {
  margin-left: 8.5106382979%;
  width: 63.829787234%;
}
/* line 28, grid.scss */
.row .span4 {
  width: 32%;
}
/* line 32, grid.scss */
.row .span4 .span1 {
  margin-left: 6.25%;
  width: 20.3125%;
}
/* line 32, grid.scss */
.row .span4 .span2 {
  margin-left: 6.25%;
  width: 46.875%;
}
/* line 32, grid.scss */
.row .span4 .span3 {
  margin-left: 6.25%;
  width: 73.4375%;
}
/* line 28, grid.scss */
.row .span5 {
  width: 40.5%;
}
/* line 32, grid.scss */
.row .span5 .span1 {
  margin-left: 4.9382716049%;
  width: 16.049382716%;
}
/* line 32, grid.scss */
.row .span5 .span2 {
  margin-left: 4.9382716049%;
  width: 37.037037037%;
}
/* line 32, grid.scss */
.row .span5 .span3 {
  margin-left: 4.9382716049%;
  width: 58.024691358%;
}
/* line 32, grid.scss */
.row .span5 .span4 {
  margin-left: 4.9382716049%;
  width: 79.012345679%;
}
/* line 28, grid.scss */
.row .span6 {
  width: 49%;
}
/* line 32, grid.scss */
.row .span6 .span1 {
  margin-left: 4.0816326531%;
  width: 13.2653061224%;
}
/* line 32, grid.scss */
.row .span6 .span2 {
  margin-left: 4.0816326531%;
  width: 30.612244898%;
}
/* line 32, grid.scss */
.row .span6 .span3 {
  margin-left: 4.0816326531%;
  width: 47.9591836735%;
}
/* line 32, grid.scss */
.row .span6 .span4 {
  margin-left: 4.0816326531%;
  width: 65.306122449%;
}
/* line 32, grid.scss */
.row .span6 .span5 {
  margin-left: 4.0816326531%;
  width: 82.6530612245%;
}
/* line 28, grid.scss */
.row .span7 {
  width: 57.5%;
}
/* line 32, grid.scss */
.row .span7 .span1 {
  margin-left: 3.4782608696%;
  width: 11.3043478261%;
}
/* line 32, grid.scss */
.row .span7 .span2 {
  margin-left: 3.4782608696%;
  width: 26.0869565217%;
}
/* line 32, grid.scss */
.row .span7 .span3 {
  margin-left: 3.4782608696%;
  width: 40.8695652174%;
}
/* line 32, grid.scss */
.row .span7 .span4 {
  margin-left: 3.4782608696%;
  width: 55.652173913%;
}
/* line 32, grid.scss */
.row .span7 .span5 {
  margin-left: 3.4782608696%;
  width: 70.4347826087%;
}
/* line 32, grid.scss */
.row .span7 .span6 {
  margin-left: 3.4782608696%;
  width: 85.2173913043%;
}
/* line 28, grid.scss */
.row .span8 {
  width: 66%;
}
/* line 32, grid.scss */
.row .span8 .span1 {
  margin-left: 3.0303030303%;
  width: 9.8484848485%;
}
/* line 32, grid.scss */
.row .span8 .span2 {
  margin-left: 3.0303030303%;
  width: 22.7272727273%;
}
/* line 32, grid.scss */
.row .span8 .span3 {
  margin-left: 3.0303030303%;
  width: 35.6060606061%;
}
/* line 32, grid.scss */
.row .span8 .span4 {
  margin-left: 3.0303030303%;
  width: 48.4848484848%;
}
/* line 32, grid.scss */
.row .span8 .span5 {
  margin-left: 3.0303030303%;
  width: 61.3636363636%;
}
/* line 32, grid.scss */
.row .span8 .span6 {
  margin-left: 3.0303030303%;
  width: 74.2424242424%;
}
/* line 32, grid.scss */
.row .span8 .span7 {
  margin-left: 3.0303030303%;
  width: 87.1212121212%;
}
/* line 28, grid.scss */
.row .span9 {
  width: 74.5%;
}
/* line 32, grid.scss */
.row .span9 .span1 {
  margin-left: 2.6845637584%;
  width: 8.7248322148%;
}
/* line 32, grid.scss */
.row .span9 .span2 {
  margin-left: 2.6845637584%;
  width: 20.1342281879%;
}
/* line 32, grid.scss */
.row .span9 .span3 {
  margin-left: 2.6845637584%;
  width: 31.5436241611%;
}
/* line 32, grid.scss */
.row .span9 .span4 {
  margin-left: 2.6845637584%;
  width: 42.9530201342%;
}
/* line 32, grid.scss */
.row .span9 .span5 {
  margin-left: 2.6845637584%;
  width: 54.3624161074%;
}
/* line 32, grid.scss */
.row .span9 .span6 {
  margin-left: 2.6845637584%;
  width: 65.7718120805%;
}
/* line 32, grid.scss */
.row .span9 .span7 {
  margin-left: 2.6845637584%;
  width: 77.1812080537%;
}
/* line 32, grid.scss */
.row .span9 .span8 {
  margin-left: 2.6845637584%;
  width: 88.5906040268%;
}
/* line 28, grid.scss */
.row .span10 {
  width: 83%;
}
/* line 32, grid.scss */
.row .span10 .span1 {
  margin-left: 2.4096385542%;
  width: 7.8313253012%;
}
/* line 32, grid.scss */
.row .span10 .span2 {
  margin-left: 2.4096385542%;
  width: 18.0722891566%;
}
/* line 32, grid.scss */
.row .span10 .span3 {
  margin-left: 2.4096385542%;
  width: 28.313253012%;
}
/* line 32, grid.scss */
.row .span10 .span4 {
  margin-left: 2.4096385542%;
  width: 38.5542168675%;
}
/* line 32, grid.scss */
.row .span10 .span5 {
  margin-left: 2.4096385542%;
  width: 48.7951807229%;
}
/* line 32, grid.scss */
.row .span10 .span6 {
  margin-left: 2.4096385542%;
  width: 59.0361445783%;
}
/* line 32, grid.scss */
.row .span10 .span7 {
  margin-left: 2.4096385542%;
  width: 69.2771084337%;
}
/* line 32, grid.scss */
.row .span10 .span8 {
  margin-left: 2.4096385542%;
  width: 79.5180722892%;
}
/* line 32, grid.scss */
.row .span10 .span9 {
  margin-left: 2.4096385542%;
  width: 89.7590361446%;
}
/* line 28, grid.scss */
.row .span11 {
  width: 91.5%;
}
/* line 32, grid.scss */
.row .span11 .span1 {
  margin-left: 2.1857923497%;
  width: 7.1038251366%;
}
/* line 32, grid.scss */
.row .span11 .span2 {
  margin-left: 2.1857923497%;
  width: 16.393442623%;
}
/* line 32, grid.scss */
.row .span11 .span3 {
  margin-left: 2.1857923497%;
  width: 25.6830601093%;
}
/* line 32, grid.scss */
.row .span11 .span4 {
  margin-left: 2.1857923497%;
  width: 34.9726775956%;
}
/* line 32, grid.scss */
.row .span11 .span5 {
  margin-left: 2.1857923497%;
  width: 44.262295082%;
}
/* line 32, grid.scss */
.row .span11 .span6 {
  margin-left: 2.1857923497%;
  width: 53.5519125683%;
}
/* line 32, grid.scss */
.row .span11 .span7 {
  margin-left: 2.1857923497%;
  width: 62.8415300546%;
}
/* line 32, grid.scss */
.row .span11 .span8 {
  margin-left: 2.1857923497%;
  width: 72.131147541%;
}
/* line 32, grid.scss */
.row .span11 .span9 {
  margin-left: 2.1857923497%;
  width: 81.4207650273%;
}
/* line 32, grid.scss */
.row .span11 .span10 {
  margin-left: 2.1857923497%;
  width: 90.7103825137%;
}
/* line 28, grid.scss */
.row .span12 {
  width: 100%;
}
/* line 32, grid.scss */
.row .span12 .span1 {
  margin-left: 2%;
  width: 6.5%;
}
/* line 32, grid.scss */
.row .span12 .span2 {
  margin-left: 2%;
  width: 15%;
}
/* line 32, grid.scss */
.row .span12 .span3 {
  margin-left: 2%;
  width: 23.5%;
}
/* line 32, grid.scss */
.row .span12 .span4 {
  margin-left: 2%;
  width: 32%;
}
/* line 32, grid.scss */
.row .span12 .span5 {
  margin-left: 2%;
  width: 40.5%;
}
/* line 32, grid.scss */
.row .span12 .span6 {
  margin-left: 2%;
  width: 49%;
}
/* line 32, grid.scss */
.row .span12 .span7 {
  margin-left: 2%;
  width: 57.5%;
}
/* line 32, grid.scss */
.row .span12 .span8 {
  margin-left: 2%;
  width: 66%;
}
/* line 32, grid.scss */
.row .span12 .span9 {
  margin-left: 2%;
  width: 74.5%;
}
/* line 32, grid.scss */
.row .span12 .span10 {
  margin-left: 2%;
  width: 83%;
}
/* line 32, grid.scss */
.row .span12 .span11 {
  margin-left: 2%;
  width: 91.5%;
}
/* line 40, grid.scss */
.row > :first-child,
.row .row > :first-child {
  margin-left: 0;
}

/* line 45, grid.scss */
.row:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 53, grid.scss */
.lte7 .row {
  height: 1%;
}

/* line 57, grid.scss */
.wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

/* line 63, grid.scss */
.lt-ie9 .wrapper {
  width: 1000px;
}

/* @end */
/* line 37, screen.scss */
html {
  height: 100%;
}

/* line 41, screen.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 100%;
  line-height: 1.5em;
}

/* line 48, screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 77, screen.scss */
img {
  max-width: 100%;
}

/* line 131, screen.scss */
.ancient {
  background: #2c98d6;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  margin: 0;
  padding: 0.5em 1em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 100;
}

/* line 146, screen.scss */
.ancient a,
.ancient a:visited {
  color: #ffffff;
  text-decoration: underline;
}

/* line 154, screen.scss */
body {
  background-color: #ddf1fb;
  color: #2d2f45;
}

/* line 159, screen.scss */
.wrapper {
  max-width: 1200px;
  padding-bottom: 6em;
  width: 90%;
}

/* line 165, screen.scss */
a, a:visited {
  color: #ba2a2e;
  text-decoration: underline;
}

/* line 174, screen.scss */
blockquote {
  background-color: #ec2535;
  border-left: 5px solid #f8e461;
  color: #ddf1fb;
  font-style: italic;
  margin: 2em auto 2em auto;
  padding: 1.5em 2em;
  width: 80%;
}

/* line 184, screen.scss */
h1 {
  border-bottom: 20px double #ee554b;
  color: #ec2535;
  font-family: "Titan One", cursive;
  font-size: 5em;
  line-height: 1.3em;
  margin-bottom: 0.3em;
  padding: 0.2em 0;
  text-align: center;
  text-transform: capitalize;
}

/* line 196, screen.scss */
h2 {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  background-color: #ee554b;
  color: #ddf1fb;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em 1.2em;
}

/* line 206, screen.scss */
h2 a, h2 a:visited {
  color: #ddf1fb;
}

/* line 210, screen.scss */
p {
  margin-bottom: 1em;
}

/* line 214, screen.scss */
ul {
  list-style-type: circle;
  margin: 0 3em 1em 3em;
}

/* line 219, screen.scss */
footer {
  background-color: #2d2f45;
  font-size: 0.8em;
  padding: 1em 2em;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: right;
}

/* line 230, screen.scss */
footer a, footer a:visited {
  color: #f8e461;
}

/* line 234, screen.scss */
footer a:first-child {
  float: left;
}

/* line 238, screen.scss */
footer a:first-child + a {
  margin-right: 1em;
}

/* line 242, screen.scss */
p.btn {
  margin: 3em auto 0 auto;
  text-align: center;
}

/* line 247, screen.scss */
p.btn a, p.btn a:visited {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  background-color: #f8e461;
  color: #ec2535;
  cursor: pointer;
  display: inline;
  font-family: "Titan One", cursive;
  font-size: 3em;
  line-height: 1.3em;
  padding: 0.3em 0.5em;
  text-align: center;
  text-decoration: none;
}
