/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194@design/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194@design/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194@design/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194@design/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194@design/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194@design/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p194@design/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p194@design/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194@design/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 36, screen.scss */
html {
  height: 100%;
}

/* line 40, screen.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 100%;
  line-height: 1.5em;
}

/* line 72, screen.scss */
img {
  max-width: 100%;
}

/* If possible, avoid using the hover pseudo class due to touch devices - http://trentwalton.com/2010/07/05/non-hover */
/* Apply box-sizing: border-box to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw */
/* line 124, screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 134, screen.scss */
.ancient {
  background: #2c98d6;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  margin: 0;
  padding: 0.5em 1em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 100;
}

/* line 149, screen.scss */
.ancient a,
.ancient a:visited {
  color: #ffffff;
  text-decoration: underline;
}

/* line 157, screen.scss */
body {
  background-color: #ddf1fb;
  color: #2d2f45;
}
@media only screen and (max-width: 768px) {
  /* line 157, screen.scss */
  body {
    font-size: 0.8em;
  }
}

/* line 163, screen.scss */
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 3em;
  width: 90%;
}
@media only screen and (max-width: 768px) {
  /* line 163, screen.scss */
  .wrapper {
    padding-bottom: 0;
  }
}

/* line 171, screen.scss */
a, a:visited {
  color: #ba2a2e;
  text-decoration: underline;
}

/* line 176, screen.scss */
blockquote {
  background-color: #ec2535;
  border-left: 7px solid #f8e461;
  color: #ddf1fb;
  font-style: italic;
  margin: 2em auto 2em auto;
  padding: 1.5em 2em;
  width: 80%;
}

/* line 186, screen.scss */
h1 {
  border-bottom: 20px double #ee554b;
  color: #ec2535;
  font-family: "Titan One", cursive;
  font-size: 5em;
  line-height: 1.3em;
  margin-bottom: 0.3em;
  padding: 0.2em 0;
  text-align: center;
  text-transform: capitalize;
}
@media only screen and (max-width: 480px) {
  /* line 186, screen.scss */
  h1 {
    font-size: 4em;
  }
}

/* line 199, screen.scss */
h2 {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  background-color: #ee554b;
  color: #ddf1fb;
  display: inline-block;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em 1.2em;
}

/* line 210, screen.scss */
h2 a, h2 a:visited {
  color: #ddf1fb;
}

/* line 214, screen.scss */
p {
  margin-bottom: 1em;
}

/* line 218, screen.scss */
ul {
  list-style-type: circle;
  margin: 0 3em 1em 3em;
}

/* line 223, screen.scss */
footer {
  background-color: #2d2f45;
  font-size: 0.8em;
  font-weight: bold;
  padding: 1em 2em;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  /* line 223, screen.scss */
  footer {
    font-size: 1em;
    position: static;
  }
}

/* line 236, screen.scss */
footer a, footer a:visited {
  color: #f8e461;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  /* line 236, screen.scss */
  footer a, footer a:visited {
    display: block;
    line-height: 2em;
    text-align: center;
  }
}

/* line 242, screen.scss */
footer a:hover {
  text-decoration: underline;
}

/* line 246, screen.scss */
footer a:first-child {
  float: left;
}
@media only screen and (max-width: 768px) {
  /* line 246, screen.scss */
  footer a:first-child {
    float: none;
  }
}

/* line 251, screen.scss */
footer a:first-child + a {
  margin-right: 1em;
}
@media only screen and (max-width: 768px) {
  /* line 251, screen.scss */
  footer a:first-child + a {
    margin-right: 0;
  }
}

/* line 256, screen.scss */
p.btn {
  margin: 3em auto;
  text-align: center;
}

/* line 261, screen.scss */
p.btn a, p.btn a:visited {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  background-color: #f8e461;
  color: #ec2535;
  cursor: pointer;
  display: inline;
  font-family: "Titan One", cursive;
  font-size: 3em;
  line-height: 1.3em;
  padding: 0.3em 0.5em;
  text-align: center;
  text-decoration: none;
}
@media only screen and (max-width: 480px) {
  /* line 261, screen.scss */
  p.btn a, p.btn a:visited {
    font-size: 3em;
  }
}
