// Compass / Imports / SASS
// ==========================================================================

@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/utilities";
@import "compass/layout";
@import "grid.scss";

// Media Queries Sass			- http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32
// Media Queries Library	- http://css-tricks.com/snippets/css/media-queries-for-standard-devices

$break-handhelds: 320px;
$break-small: 480px;
$break-medium: 768px;
$break-large: 1100px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-handhelds) { @content; }
  }
  @else if $media == small-screens {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (max-width: $break-medium) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (max-width: $break-large) { @content; }
  }
}

// HTML & Body
// ==========================================================================

html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 100%;
  line-height: 1.5em;
}

// Headings
// ==========================================================================

h1, h2, h3, h4, h5, h6 {

}

// Typography
// ==========================================================================

p {
	
}

ul, ol {
 	
}

blockquote {

}

// Images
// ==========================================================================

img {
  max-width: 100%;
}

// Links
// ==========================================================================

a, a:visited {
	
}

/* If possible, avoid using the hover pseudo class due to touch devices - http://trentwalton.com/2010/07/05/non-hover */

a:hover {

}
 
a:active, a:focus {

}

// Figures
// ==========================================================================

figure {
	
}

figcaption {
	
}

// Tables
// ==========================================================================

// Forms
// ==========================================================================

// Header
// ==========================================================================

// Navigation
// ==========================================================================

// Footer
// ==========================================================================

// Content
// ==========================================================================

/* Apply box-sizing: border-box to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw */

* {
	@include box-sizing(border-box);
}

// Page - [Name]
// ==========================================================================

// Misc
// ==========================================================================

.ancient {
  background: #2c98d6;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  margin: 0;
  padding: 0.5em 1em;
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
  text-align: center;
  z-index: 100;
}

.ancient a,
.ancient a:visited {
  color: #ffffff;
  text-decoration: underline;
}

// Temporary Styling - Remove with each new project
// ==========================================================================

body {
  background-color: #ddf1fb;
  color: #2d2f45;
  @include respond-to(medium-screens) {font-size: 0.8em;}
}

.wrapper {
  max-width: 1200px;
  padding-bottom: 3em;
  width: 90%;
  @include respond-to(medium-screens) {padding-bottom: 0;}
}

a, a:visited {
  color: #ba2a2e;
  text-decoration: underline;
}

blockquote {
  background-color: #ec2535;
  border-left: 7px solid #f8e461;
  color: #ddf1fb;
  font-style: italic;
  margin: 2em auto 2em auto;
  padding: 1.5em 2em;
  width: 80%;
}

h1 {
  border-bottom: 20px double #ee554b;
  color: #ec2535;
  font-family: "Titan One", cursive;
  font-size: 5em;
  line-height: 1.3em;
  margin-bottom: 0.3em;
  padding: 0.2em 0;
  text-align: center;
  text-transform: capitalize;
  @include respond-to(small-screens) {font-size: 4em;}
}

h2 {
  @include border-radius(18px);
  background-color: #ee554b;
  color: #ddf1fb;
  display: inline-block;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em 1.2em;
}

h2 a, h2 a:visited {
  color: #ddf1fb;
}

p {
  margin-bottom: 1em;
}

ul {
  list-style-type: circle;
  margin: 0 3em 1em 3em;
}

footer {
  background-color: #2d2f45;
  font-size: 0.8em;
  font-weight: bold;
  padding: 1em 2em;
  position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
  text-align: right;
  @include respond-to(medium-screens) {font-size: 1em; position: static;}
}

footer a, footer a:visited {
  color: #f8e461;
  text-decoration: none;
  @include respond-to(medium-screens) {display: block; line-height: 2em; text-align: center;}
}

footer a:hover {
  text-decoration: underline;
}

footer a:first-child {
  float: left;
  @include respond-to(medium-screens) {float: none;}
}

footer a:first-child + a {
  margin-right: 1em;
  @include respond-to(medium-screens) {margin-right: 0;}
}

p.btn {
  margin: 3em auto;
  text-align: center;
}

p.btn a, p.btn a:visited {
  @include border-radius(18px);
  background-color: #f8e461;
  color: #ec2535;
  cursor: pointer;
  display: inline;
  font-family: "Titan One", cursive;
  font-size: 3em;
  line-height: 1.3em;
  padding: 0.3em 0.5em;
  text-align: center;
  text-decoration: none;
  @include respond-to(small-screens) {font-size: 3em;}
}
